<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/93823f86-a3ea-45f5-96e1-9be805fa04c2/resourceGroups/ShokistTest_group/providers/Microsoft.Web/sites/ShokistTest</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shokisttest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>d06bad2d-cc9c-4220-bea7-557d879bcdd1</ProjectGuid>
    <PublishUrl>https://shokisttest.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ShokistTest</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>